nav {
    display: flex;
    background-color: rgb(123,234,45);
    padding: 1rem;
    justify-content: center;
}

.resetgame {
    gap: 1rem;
    padding: 1rem;
    border-left: 1rem;
    row-gap: 1rem;
}
.tictactoebtn {
    
    margin:auto;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 10%;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-size: large;
    
}

.tictactoebtn:hover {
    border-radius: 20px;
    background-color: yellowgreen;
}

#justconsole {
    display:flex;
    justify-content: center;
    align-items: center;
    
}

td {
    width: 15vw;
    height: 20vh;;
    
}

.navbtn {
    gap: 10px;
    padding: .5rem 2rem .5rem 2rem;
    border-radius: 10%;
    justify-items: center;
}

.card-container {
    display:flex;
    padding: 1rem;
    border-radius: 10px;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    background-color: #ee4ee9;
    
}

.main-container {
    display:flex;
    flex-direction: row;
}

#consolelog {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.disabletable {
    pointer-events: none;
}

